﻿/** eigene Farben **/

.w3-theme-l5 {color:#000 !important; background-color:#fff0f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffcccc !important}
.w3-theme-l3 {color:#000 !important; background-color:#ff9999 !important}
.w3-theme-l2 {color:#fff !important; background-color:#ff6666 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ff3333 !important}
.w3-theme-d1 {color:#fff !important; background-color:#e60000 !important}
.w3-theme-d2 {color:#fff !important; background-color:#cc0000 !important}
.w3-theme-d3 {color:#fff !important; background-color:#b30000 !important}
.w3-theme-d4 {color:#fff !important; background-color:#990000 !important}
.w3-theme-d5 {color:#fff !important; background-color:#800000 !important}

.w3-theme-g1 {color:#333333 !important; background-color:#eeeeee !important}
.w3-theme-g2 {color:#222222 !important; background-color:#dddddd !important}
.w3-theme-g3 {color:#111111 !important; background-color:#cccccc !important}
.w3-theme-g4 {color:#000000 !important; background-color:#bbbbbb !important}
.w3-theme-menuborder {color:#aaaaaa !important}

.w3-theme-light {color:#000 !important; background-color:#fff0f0 !important}
.w3-theme-dark {color:#fff !important; background-color:#800000 !important}
.w3-theme-action {color:#fff !important; background-color:#800000 !important}

.w3-theme {color:#fff !important; background-color:#ff0000 !important}
.w3-text-theme {color:#ff0000 !important}
.w3-border-theme {border-color:#ff0000 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#ff0000 !important}
.w3-hover-text-theme:hover {color:#ff0000 !important}
.w3-hover-border-theme:hover {border-color:#ff0000 !important}

/** Ergänzungen w3.css **/

.w3-margin-small{margin:8px!important}.w3-margin-top-small{margin-top:8px!important}.w3-margin-bottom-small{margin-bottom:8px!important}
.w3-margin-left-small{margin-left:8px!important}.w3-margin-right-small{margin-right:8px!important}

.w3-bar-separator  {
    margin: 0px;
    padding: 6px 0px ;
    float  : left;
    width  : auto;
    border : none;
    display: block;
    outline: 0;
    font-size: 16px;
    font-family: "Material Design Icons";
}



/* ========================================================================= */
/* --- Layout                                                             -- */
/* ========================================================================= */

html, body {
    height: 100%;
}

@media only screen {
    .fullheight {
        height: 100% !important;
    }
}

@media only print {
    .print {
        width: 710px !important;
    }
}

.debug {
    background-color: #666666;
}

.fzi-page-header {
    height: 46px !important;
}

.fzi-topdistance20 {
    margin-top: 20px;
}

.fzi-bottomdistance20 {
    margin-bottom: 20px;
}

.fzi-distance20 {
    height:20px;
    width: 1px;
    background-color: #fff;
}

.fzi-fullheight {
    height:1000vH;
    width: 1px;
    background-color: #fff;
}

.fzi-menubar-left {
    font-size: 1px !important;
    background-color: red;
}


/* ========================================================================= */
/* --- TOC                                                                -- */
/* ========================================================================= */

/* Display list items side by side */
.fzi-breadcrumb ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
}

.fzi-toc ul {
    color:#333;
    margin: 4px;
    margin-left: 0px;
    padding: 0px;
    list-style: none !important;
}


.fzi-toc-tags ul {
    color:#333;
    margin: 4px;
    margin-left: 0px;
    padding: 0px;
    list-style: none !important;
}



.fzi-toc ul ul,.fzi-toc-tags ul ul {
    margin: 0px;
    margin-left: 8px;
    padding: 0px;
    list-style: none;
}

.fzi-toc a:link {
    text-decoration: none;
}


.fzi-toc a:hover {
    text-decoration: underline;
    color: red;
}

.fzi-toc-tags .TableOfContents a:link {
    text-decoration: none !important;
    color: #333333 !important;
}

.fzi-toc-tags .TableOfContents a:hover {
    text-decoration: none !important;
    color: #333333 !important;
}

.fzi-toc-tags .TableOfContents a:active {
    text-decoration: none !important;
    color: #333333 !important;
}

.fzi-toc-tags .TableOfContents a:visited {
    text-decoration: none !important;
    color: #333333 !important;
}



/* ========================================================================= */
/* --- TOC                                                                -- */
/* ========================================================================= */

.fzi-tecinfo {
    padding-bottom: 4px;
}

.fzi-tecinfo p {
    color:#333;
    margin: 4px;
    margin-left: 0px;
    padding: 0px;
    overflow: clip;
}


.fzi-tecinfo hr {
    color: red !important;
    margin: 0px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-top: 1px dotted red;
    padding: 0px;
}


/* ========================================================================= */
/* --- leftmenu                                                           -- */
/* ========================================================================= */

.fzi-leftmenu_container {
   
}

.fzi-leftmenu-el {
    border-top: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    border-collapse: collapse !important;
    font-size: 0.9em;
    overflow-wrap: break-word;
}

.fzi-leftmenu-el ~ .fzi-leftmenu-el {
    border-top: 0px solid #ffffff !important;
}

.fzi-leftmenu_container .fzi-leftmenu-el {
    border-top: 0px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    border-collapse: collapse !important;
    padding-left: 24px;
    background-color: #dddddd;
    font-size: 0.9em;
}

.fzi-leftmenu_container .fzi-leftmenu_container .fzi-leftmenu-el {
    border-top: 0px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    border-collapse: collapse !important;
    padding-left: 32px;
    background-color: #cccccc;
}

.fzi-leftmenu_container .fzi-leftmenu_container .fzi-leftmenu_container .fzi-leftmenu-el {
    border-top: 0px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    border-collapse: collapse !important;
    padding-left: 40px;
    background-color: #cccccc;
}



/* ========================================================================= */
/* --- Breadcrumbmenü                                                     -- */
/* ========================================================================= */
.fzi-breadcrumb {
    display: inline;
    color:#666666 !important;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    height: 17px;
}

 /* Style the list */
.fzi-breadcrumb ul {
  margin: 4px;
  margin-left: 8px;
  padding: 0px;
  list-style: none;
}

/* Display list items side by side */
.fzi-breadcrumb ul li {
  display: inline;
  padding: 0px;
  margin: 0px;
}

/* Add a slash symbol (/) before/behind each list item */
.fzi-breadcrumb ul li+li:before {
    content: "  \F013e";
    font-family: "Material Design Icons";
}

/* Add a color to all links inside the list */
.fzi-breadcrumb ul li a {
  color: #666666;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

/* Add a color on mouse-over */
.fzi-breadcrumb ul li a:hover {
  color: #ff0000;
  text-decoration: underline;
}

/* ========================================================================= */
/* --- Content                                                            -- */
/* ========================================================================= */

/* Content */
.content {
    font-size: 14px;
}

.content-max-width {
    max-width: 850px;
}

.content-max-width-start {
    max-width: 1100px;
}

.content .paragraph:first-child p {
    margin-top: 0.2em;
}

.content .paragraph p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.content .paragraph:last-child p {
    margin-bottom: 0.8em;
}

.content p br {
    height: 0.1em;
    margin-bottom: 0.1em;
}

/** Links **/

.content a {
    font-size: 100%;
    color: #ff0000;
}

.content a:visited {
    font-size: 100%;
    color: #666666;
}

.content a:hover {
    font-size: 100%;
    color: #ff6666;
}

.content a[href^="mailto"]::before {
    content: "  \F01f0";
    font-family: "Material Design Icons";
    text-decoration: none;
}

/** Ueberschriften **/

.content h1 {
    color: #333333;
    background-color: #f7f7f7;
    padding: 2px;
    font-size: 180%;
    margin-bottom: 2px;
    margin-top: 24px;
    font-weight: bold;
}

.content h2 {
    color: #333333;
    padding: 2px;
    font-size: 160%;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 12px;
    border-top: 1px dotted #e7e7e7;
    border-bottom: 1px dotted #e7e7e7;
}

.content h3 {
    color: #333333;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 8px;
}

.content h4 {
    color: #333333;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 4px;
}

.content h5 {
    color: #333333;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 4px;
}

.content h6 {
    color: #333333;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 4px;
}

/** der Titel zu einem Element wird im asciidoc mit .xxx dargestellt und so ins html umgesetzt **/
div.title {
    color: #666666;
    font-size: 90%;
    font-weight: 600;
    font-style: italic;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 0px;
}

/** Listen **/

.content ul {
   list-style-type:square;
   padding:0;
   margin: 4px;
   margin-left:16px;
   font-size: 90%;
}
.content ul ul {
   margin: 0px;
   margin-left:12px;
   font-size: 100%;
}
.content ul ul ul {
   margin: 0px;
   margin-left:12px;
   font-size: 100%;
}
.content ul.checklist {
    list-style-type:none;
    margin: 4px;
 }

/** asciidoctor **/
ul p, ol p, dd p {
    margin: 0px;
    padding: 0px;
}

.content ol {
   padding:0;
   margin: 4px;
   margin-left:16px;
   font-size: 90%;
}
.content ol ol {
   margin: 0px;
   margin-left:12px;
   font-size: 100%;
}
.content ol ol ol {
   margin: 0px;
   margin-left:12px;
   font-size: 100%;
}

.content dl {
    padding:0;
    margin: 4px;
    margin-left:16px;
    font-size: 90%;
}

.content dl dt {
   font-weight: 600;
   color: #333;
}

div.dlist dl {
    padding:0;
    margin: 4px;
    font-size: 90%;
}

div.dlist dl dd {
    padding:0;
    margin-left: 8px;
}

div.dlist div.dlist dl {
    font-size: 100%;
}

/** code + Blocks **/

.content pre {
    margin: 4px;
    margin-left: 12px;
    padding: 2px;
    font-size: 90%;
    border: 1px solid #c7c7c7;
    background-color: #e7e7e7;
}

.listingblock pre {
    margin: 4px;
    margin-left: 0px;
    padding: 2px;
    font-size: 90%;
    border: 1px solid #c7c7c7;
    border-left: 4px solid #c7c7c7;
    background-color: #f0f0f0;
}

.sidebarblock div.paragraph {
    margin: 4px;
    margin-left: 0px;
    padding: 2px;
    font-size: 90%;
    border: 0px solid #c7c7c7;
    border-left: 4px solid #c7c7c7;
    background-color: #ffffff
}

.sidebarblock div.paragraph p {
    margin: 0px;
}

.exampleblock div.content {
    margin: 4px;
    margin-left: 0px;
    padding: 2px;
    font-size: 90%;
    border: 0px solid #c7c7c7;
    border-left: 4px solid #c7c7c7;
    background-color: #ffffff
}

.exampleblock div.paragraph p {
    margin: 0px;
}

/** Admonitionblocks **/

div.admonitionblock {
    margin-top: 4px;
    margin-bottom: 4px;
}

div.admonitionblock table {
    font-size: 90%;
    border: 0px solid #ffffff;
    border-collapse: collapse;
}

div.admonitionblock table th {
    border: 0px solid #ffffff;
    padding: 0px
}

div.admonitionblock table td {
    border: 0px solid #ffffff;
    padding: 0px
}

div.admonitionblock td.icon div.title::before {
    font-family: "Material Design Icons";
    font-size: 24px;
    font-style: normal;
    color: #666666;
}

div.admonitionblock.note td.icon div.title::before {
    content: "\F0403";
}

div.admonitionblock.tip td.icon div.title::before {
    content: "\F0496";
}

div.admonitionblock.warning td.icon div.title::before {
    content: "\F01BD";
}

div.admonitionblock.caution td.icon div.title::before {
    content: "\F073A";
}

div.admonitionblock.important td.icon div.title::before {
    content: "\F1238";
}

div.admonitionblock td.icon {
    border-right: 2px solid #c7c7c7;
    vertical-align: middle;
}

div.admonitionblock td.icon div.title {
    width: 30px;
    font-size: 0px;
}

div.admonitionblock td.content {
    padding-left: 8px;
}




/** Tabellen **/

.content table {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px;
    font-size: 90%;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
}

.content table th {
    border: 1px solid #f7f7f7;
    background-color: #f0f0f0;
    padding: 1px
}

.content table th p {
    margin: 0px;
    padding: 4px
}

.content table td {
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    padding: 4px;
}

.content table td p {
    margin: 0px;
    padding: 1px
}

.content table caption {
    color: #666666;
    font-size: 90%;
    font-weight: 600;
    font-style: italic;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: left;
}

/** Blockquote **/

.content blockquote {
    margin: 4px;
    border: 0px;
    border-left: 4px solid #666666;
    padding-left: 4px;
}


/** Warnung, Note, .. **/

section.content .awcs-warning  {
    color: #ff0000;
    border: 1px dotted #ff0000;
    border-left: 4px solid #ff0000;
    padding: 4px;
    background-color: #0;
    margin-top: 4px;
    margin-bottom: 4px;
}

section.content .awcs-hint  {
    color: #666666;
    border: 1px dotted #c0c0c0;
    border-left: 4px solid #c0c0c0;
    padding: 4px;
    background-color: #0;
    margin-top: 4px;
    margin-bottom: 4px;
}

section.content pre {
    font-size: 90%;
    border: 1px dotted #f0f0f0;
    border-left: 4px solid #f0f0f0;
    padding: 4px;
    background-color: #0;
    margin-top: 4px;
    margin-bottom: 4px;
}

section.content pre + p {
    margin: 0px;
    font-size: 0px;
    padding: 0px;
}

/** Images **/
div.imageblock div.title {
    margin-bottom: 8px;
}



