
<!-- layouts/partials/menu_main.html -->
<!-- Wir rendern hier das Hauptmenü und geben die aktuelle Seite und die Site-Variable mit -->
<div class="w3-card w3-border w3-border-red fzi-bottomdistance20">
    
  <header class="w3-container w3-theme">
    <h6>technische Infos</h6>
  </header>
      
  <div class="w3-container fzi-tecinfo">
    <!-- {{ .GitInfo | jsonify }} -->
    {{ with .GitInfo }}
      <h6>zuletzt geändert am:</h6><p>{{ .AuthorDate.Format "02.01.2006" }}</p>
      <hr/>
      <h6>CommitMessage:</h6> 
      <p>{{.Subject}}</p>
    {{ else }}
    <p>veröffentlicht am: {{ .Date.Format "02.01.2006" }}</p>
    <p>zuletzt geändert: {{ .Lastmod.Format "02.01.2006" }}</p>
    {{ end }}

    <hr/>
    {{ if eq .ReadingTime 1 }}
    Für diesen Artikel benötigen Sie ca. {{ .ReadingTime }} Minute
    {{ else }}
    Für diesen Artikel benötigen Sie ca. {{ .ReadingTime }} Minuten
    {{ end }}
  </div>
          
</div>


