{{ $related := .Site.RegularPages.Related . | first 10 }}
{{ with $related }}

<div class="w3-card w3-border w3-border-red fzi-bottomdistance20">

    
    <header class="w3-container w3-theme">
        <h6>Das könnte Sie auch interessieren</h6>
    </header>
      
    <div class="w3-container fzi-toc">
        <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>

</div>
{{ end }}



