<div class="w3-card w3-border w3-border-red fzi-bottomdistance20">
    
  <header class="w3-container w3-theme">
    <h6>Tags dieser Seite</h6>
  </header>
  
  <div class="w3-container fzi-toc">
  {{ $taxo := "tags" }} <!-- Use the plural form here -->
    {{ with .Param $taxo }}
    <ul>
      {{ range $index, $director := . }}
        {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
          <li><a href="{{ .RelPermalink }}">#{{ $director }}</a></li>
        {{- end -}}
      {{- end -}}
    <ul>
    {{ end }}
  </div> 

</div>




