
<!-- layouts/partials/menu_main.html -->
<!-- Wir rendern hier das Hauptmenü und geben die aktuelle Seite und die Site-Variable mit -->
{{ if gt (len (trim .TableOfContents " ")) 32 }}

<div class="w3-hide-medium w3-hide-small w3-card w3-border w3-border-red fzi-bottomdistance20">
    
    <header class="w3-container w3-theme">
        <h6>Inhaltsverzeichnis</h6>
    </header>
      
    <div class="w3-container fzi-toc">
        {{ .TableOfContents }}
    </div>

</div>

{{ end }}


