<!DOCTYPE html>
<!-- das ist das Template, wovon wir alle anderen Templates ableiten -->
<html>
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/w3.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/fzi.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/materialdesignicons.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/prism.css" />
    
    <title>  
      {{.Site.Title}}
    </title>
  </head>
  <body >

      {{ block "header" . }}
        {{ partial "parts/page_header.html" . }}
      {{ end }}
     
      {{ block "menu.main" . }}
        {{ partial "menu/menu_main.html" . }}
      {{ end }}

      {{ block "main" . }}
        {{ partial "parts/page_content.html" . }}
      {{ end }}
       
    <script src="{{.Site.BaseURL}}/js/fzi.js"></script>      
    <script src="{{.Site.BaseURL}}/js/prism.js"></script>
    
  </body>
</html>
