<div class="w3-row fullheight noprint" >

   

    <!-- Mitte: content + breadcrumb -->
    <div class="content-max-width-start w3-col s12 m12 l9 fullheight noprint">

        <!-- Breadcrumbnavigation -->
        <div>
            {{ partial "menu/menu_breadcrumb.html" (dict "p1" . "p2" . )  }}
        </div>

        <!-- Seiteninhalt -->
        <div class="w3-row w3-margin-left-small w3-margin-right-small content">
                {{ .Content }}
        </div> 
        
    </div>  <!-- Mitte: content -->

     <!-- Rechts: Infos -->
    <div class="w3-col l2 w3-hide-medium w3-hide-small fzi-topdistance20 fullheight noprint w3-margin-right">
        {{ partial "info/toc.html" .  }}
        {{ partial "info/pageinfos.html" .  }}
        {{ partial "info/related.html" .  }}
        {{ partial "info/tags.html" .  }}
    </div><!-- Rechts: Infos -->
    
</div>




