<div class="fzi-page-header w3-display-container w3-hide-medium w3-hide-small noprint" >
    <div class="w3-display-left w3-margin-left-small w3-text-theme m5 l3">
        <h1>{{.Site.Title}}</h1>
    </div>
    <div class="w3-display-right w3-margin-right-small w3-text-theme  m7 l9 ">
        <h3>{{.Title}}</h3>
    </div>
</div>

<div class="fzi-page-header w3-display-container w3-hide-large w3-hide-small noprint" >
    <div class="w3-display-left w3-margin-left-small w3-text-theme m5 l3">
        <h3>{{.Site.Title}}</h3>
    </div>
    <div class="w3-display-right w3-margin-right-small w3-text-theme  m7 l9 ">
        <h5>{{.Title}}</h5>
    </div>
</div>