<section class="w3-hide-medium w3-hide-small">
    <aside>
        <H6>partial: page_infos.html</H6>
        {{ if .IsPage }}
            <div>{{.Summary}}</div>
            <div>geschätzte Lesezeit für diese Seite: {{.ReadingTime}} min </div>
        {{ end }}
        <div>
            Tags:
            {{range .Params.tags }}
                <a href="{{ "/tags/" | relURL }}{{ . |urlize }}">{{. | humanize }}</a>
            {{end}}
        </div>
    </aside>
</section>

