<div class="w3-row fullheight noprint" >

    <!-- Unternavigation für kleine Bildschirme, wird per Javascript aktiviert -->
    <div class="w3-col m3 l2 w3-hide-medium w3-hide-large noprint ">
        {{ partial "menu/menu_section_small.html" (dict "p1" .FirstSection "p2" .)  }}
     </div>

    <!--Links: Unternavigation, breit und normal -->
    <div class="w3-col m3 l2 w3-hide-small noprint w3-theme-g1">   
       {{ partial "menu/menu_section_left.html" (dict "p1" .FirstSection "p2" .)  }}
    </div>

    <!-- Mitte: content + breadcrumb -->
    <div class="content-max-width w3-col s12 m9 l7 fullheight noprint">

        <!-- Breadcrumbnavigation -->
        <div>
            {{ partial "menu/menu_breadcrumb.html" (dict "p1" . "p2" . )  }}
        </div>

        <!-- Seiteninhalt -->
        <div class="w3-row w3-margin-left-small w3-margin-right-small content">
                {{ .Content }}
        </div> 
        
    </div>  <!-- Mitte: content -->

     <!-- Rechts: Infos -->
    <div class="w3-col l2 w3-hide-medium w3-hide-small fzi-topdistance20 fullheight noprint w3-margin-right">
        {{ partial "info/toc.html" .  }}
        {{ partial "info/pageinfos.html" .  }}
        {{ partial "info/related.html" .  }}
        {{ partial "info/tags.html" .  }}
    </div><!-- Rechts: Infos -->
    
</div>




