{{ define "main" }}
{{ $baseUrl:= .Site.BaseURL }}
<div class="w3-row fullheight noprint">
  

  <!-- Unternavigation für kleine Bildschirme, wird per Javascript aktiviert -->
  <!--
  <div class="w3-col m3 l2 w3-hide-medium w3-hide-large noprint ">
      {{ partial "menu/menu_section_small.html" (dict "p1" .FirstSection "p2" .)  }}
   </div> -->

  <!--Links: Unternavigation Tags, breit und normal -->
  <div class="w3-col m3 l2 w3-hide-small noprint w3-theme-g1">
    <!-- partial -->
    <div class="w3-bar-block w3-card w3-hide-small w3-border-0">
      <div class=" fzi-distance20  w3-hide-small  noprint "></div>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
          {{ range $key, $value := $taxonomy }}
            <a href="{{ $baseUrl }}{{$taxonomyname}}/{{ $key }}.html" class="w3-bar-item w3-button fzi-leftmenu-el">#{{ $key }}</a> 
          {{ end }}  
        {{ end }}
      <div class="w3-theme-g1 w3-hide-small fzi-fullheight noprint"></div>
    </div>    
  </div>

  <!-- Mitte: content + breadcrumb -->
  <div class="w3-col s12 m9 l8 fullheight noprint" style="max-width: 900px; ">

      <!-- Breadcrumbnavigation -->
      <div>
          {{ partial "menu/menu_breadcrumb.html" (dict "p1" . "p2" . )  }}
      </div>

      <!-- Seiteninhalt -->
      <div class="w3-row w3-margin-left-small w3-margin-right-small content">

        <h2>Alle Seiten für den Tag #{{.Title}}</h2>
       
          
          {{ range .Data.Pages }}
          <div class="w3-card w3-border fzi-bottomdistance20">
            <header class="w3-container w3-theme-g1">
              <h3>{{ .Title }}</h3>
            </header>
            <div class="w3-container fzi-toc-tags">
              <p>{{ .Summary }}...</p>
              <p>{{ .TableOfContents }}</p>  
            </div>
            <div class="w3-container">
              <a href="{{.RelPermalink}}">weiter zum Artikel: {{ .Title }}</a>
            </div>  
            
          </div>
          {{ end }}
        
      
      </div> 
      
  </div>  <!-- Mitte: content -->

   <!-- Rechts: Infos -->
  <div class="w3-col l2 w3-hide-medium w3-hide-small fzi-topdistance20 fullheight noprint">
      {{ partial "info/toc.html" .  }}
      {{ partial "info/pageinfos.html" .  }}
  </div><!-- Rechts: Infos -->
  
</div>


{{ end }}
 
