<!-- layouts/partials/_menu_main_recursive.html -->
<!-- https://bwaycer.github.io/hugo_tutorial.hugo/extras/menus/-->
{{ $page := .page }}
{{ $site := .site }}
<div class="w3-bar w3-red ">
 <div class="w3-bar-separator w3-hide-small">&#xF01d9;</div>
<!-- Menu items sorted by name and byweight-->
{{ range .menu.ByName.ByWeight }}
  {{ $is := $page.IsMenuCurrent "main" . }}
  {{ $has := $page.HasMenuCurrent "main" . }}
  {{ if .HasChildren }} 
      <div class="w3-dropdown-hover w3-hide-small ">
        <button class="w3-button w3-red"><b>{{ .Name }}<span class="mdi mdi-menu-down"></span></b></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <!-- so hier das Submenue -->
          {{ range .Children.ByName }}
            <a href="{{ .URL }}" class="w3-bar-item w3-button w3-theme-g1">{{ .Name }}</a>
          {{end}}
        </div>
        
      </div>
      <div class="w3-bar-separator w3-hide-small">&#xF01d9;</div>
  {{ else }}
      <a href="{{ .URL }}" class="w3-bar-item w3-button w3-hide-small"><b>{{ .Name }}</b></a>
      <div class="w3-bar-separator w3-hide-small">&#xF01d9;</div>
  {{ end }}
{{ end }}
  <div class="w3-bar-item w3-left w3-hide-large w3-hide-medium">{{.site.Title}}</div> 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="hideShowMainMenu()"><b><span class="mdi mdi-menu"></span></b></a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="hideShowSectionMenu()"><b><span class="mdi mdi-menu-open"></span></b></a>  
</div>

<div id="mainMenu" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
  <!-- Menu items sorted alphabetically by name -->
  {{ range .menu }}
    {{ $is := $page.IsMenuCurrent "main" . }}
    {{ $has := $page.HasMenuCurrent "main" . }}
    {{ if .HasChildren }} 
        <div class="w3-dropdown-hover w3-mobile ">
        <button class="w3-button w3-center w3-red"><b>{{ .Name }}</b><span class="mdi mdi-menu-down"></span></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <!-- so hier das Submenue -->
          {{ range .Children.ByName }}
            <a href="{{ .URL }}" class="w3-bar-item w3-button w3-mobile w3-center w3-red">{{ .Name }}</a>
          {{end}}
        </div>
        </div>
    {{ else }}
        <a href="{{ .URL }}" class="w3-bar-item w3-button  w3-mobile"><b>{{ .Name }}</b></a>
    {{ end }}
  {{ end }}
  </div>
