{{ if .p1.Page }}

    {{ $basepath := .p1.File.Dir }} 
    {{ $basepage := .p1.Page }}
    {{ $baselvl :=  len ( split .p1.File.Dir "/" ) }}
    {{$currentNode := .p2 }}
    
    {{ range .p1.Pages.ByTitle }}
        
        {{ if .IsPage }}
           {{ if eq .File.Dir $basepath }}
                <a href="{{ .RelPermalink }}" class=" w3-button w3-block w3-left-align fzi-leftmenu-el  {{ if eq . $currentNode }} w3-theme-l2 {{ end }}">{{ .Name }}</a>
            {{ end }}
        {{ else }}
            {{ $md5 :=  substr .File.UniqueID 0 8 }}             
            <button  class="w3-button w3-block  fzi-leftmenu-el  w3-left-align" onclick="myAccFunc( {{ $md5 }} )">{{ .Name }}<span id="s{{ $md5 }}" class="mdi mdi-menu-right"></span></button>
            <div id="{{ $md5 }}" class="w3-hide w3-white w3-card {{ if .IsAncestor $currentNode }} w3-show {{ else }} w3-hide {{ end }} fzi-leftmenu_container">
                {{ partial "menu/menu_section_left_recursive.html" (dict "p1" . "p2" $currentNode )  }}
            </div>  
        {{ end }}
    {{ end }}

{{ end }}


