<div class="noprint w3-bar-block  w3-card w3-hide-small w3-border-0">
    {{$currentNode := .p2 }}   
    {{ if .p1.IsSection }}
        <div class=" fzi-distance20  w3-hide-small  noprint "></div>
        <!-- Knoten, also Menüeinträge mit Untermenüs -->
        {{ range .p1.Sections.ByTitle }}
            {{ if .IsNode }}
                {{ $md5 :=  substr .File.UniqueID 0 8 }}
                <button  class="noprint w3-button w3-block w3-left-align fzi-leftmenu-el " onclick="myAccFunc( {{ $md5 }} )">{{ .Name }}<span id="s{{ $md5 }}" class="mdi mdi-menu-right"></span></button>
                <div id="{{ $md5 }}" class="{{ if .IsAncestor $currentNode }} w3-show {{ else }} w3-hide {{ end }} w3-white w3-card fzi-leftmenu_container">
                    {{ partial "menu/menu_section_left_recursive.html" (dict "p1" . "p2" $currentNode )  }}
                </div>
            {{ end }}
        {{ end }}
        
         <!-- normale Seiten -->
        {{ range .p1.Pages.ByTitle }}
            {{ if .IsPage }}
                <a href="{{ .RelPermalink }}" class="w3-bar-item w3-button fzi-leftmenu-el {{ if eq . $currentNode }} w3-theme-l2 {{ end }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
        <div class="w3-theme-g1 w3-hide-small fzi-fullheight noprint"></div>
    
{{ end }}

</div>

