<!-- Wir rendern hier das breadcrumbmenu -->
{{ if .p1.Parent }}
    {{ partial "menu/menu_breadcrumb_recursive.html" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
    {{ partial "menu/menu_breadcrumb_recursive.html" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li>
    <a href="{{ .p1.Permalink }}" >{{ .p1.Title }}</a> 
</li>   
