<!-- Wir rendern hier das breadcrumbmenu -->
<div class="fzi-breadcrumb">
    
    <ul>
        <li>Sie sind hier:</li>
    {{ partial "menu/menu_breadcrumb_recursive.html" (dict "p1" .p1 "p2" .p2 )  }}
    </ul>   
</div>
