<div id="sectionMenu" class="w3-bar-block w3-light-grey w3-card w3-hide">
    {{$currentNode := .p2 }}   
    {{ if .p1.IsSection }}

        <!-- Knoten, also Menüeinträge mit Untermenüs -->
        {{ range .p1.Sections.ByTitle }}
            {{ if .IsNode }}
                {{ $md5 :=  substr .File.UniqueID 2 10 }}
                <button  class="w3-button w3-block w3-left-align" onclick="myAccFunc( {{ $md5 }} )">{{ .Name }}c
                    <span id="s{{ $md5 }}" class="mdi mdi-menu-right"></span>
                </button>
                <div id="{{ $md5 }}" class="{{ if .IsAncestor $currentNode }} w3-show {{ else }} w3-hide {{ end }} w3-white w3-card">
                    {{ partial "menu/menu_section_small_recursive.html" (dict "p1" . "p2" $currentNode )  }}
                </div>
            {{ end }}
        {{ end }}
        
         <!-- normale Seiten -->
        {{ range .p1.Pages.ByTitle }}
            {{ if .IsPage }}
                <a href="{{ .RelPermalink }}" class="w3-bar-item w3-button {{ if eq . $currentNode }} w3-theme-l2 {{ end }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    
{{ end }}

</div>

