
<!-- layouts/partials/menu_main.html -->
<!-- Wir rendern hier das Hauptmenü und geben die aktuelle Seite und die Site-Variable mit -->
<div class="w3-row w3-red">
<div class="w3-col l2  w3-hide-medium w3-hide-small">
    <div class="w3-bar fzi-menubar-left">x</div>
</div>
<div class="w3-col s12 m12 l10">
    {{ partial "menu/menu_main_recursive.html" (dict "menu" .Site.Menus.main "page" . "site" .Site) }}
</div>
</div>


